<div class="back-to-top">
    <a href="#top" class="scroll">
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </a>
</div>
{% if site.ad_taobao_11 %}
<a target="_blank" onclick="_hmt.push(['_trackEvent', 'block.thankbabe.com', 'click', 'redbag', 1])" class="ad-box-right" href="{{site.ad_taobao_11}}">
    <span>淘宝</span>
    <span>红包</span>
    <span class="get">领取</span>
</a>

<a target="_blank" onclick="_hmt.push(['_trackEvent', 'block.thankbabe.com', 'click', 'redbag_bottom_img', 1])" class="ad-box-bottom-img"
    href="{{site.ad_taobao_11}}">
    <img src="http://demo.thankbabe.com/blog/images/taobao-11-11.jpg" alt="">
</a>
{% endif %}

<!--<a target="_blank" onclick="_hmt.push(['_trackEvent', 'block.thankbabe.com', 'click', 'redbag_bottom', 1])" class="ad-box-bottom" href="{{site.ad_taobao_11}}">
        <span>领取淘宝双11红包</span>
        <span class="welfare">(福利)</span>
</a>-->


