header {
    background: #222;
    height: 52px;
    color: #9d9d9d;
    box-shadow: 0 2px 4px 1px rgba(0,0,0,0.5);
    margin-bottom: 20px;
    a {
        color: #9d9d9d;
        -webkit-transition: 0.2s ease;
        transition: 0.2s ease;
        &:hover {
            color: #fff;
        }
    }
    .wrapper {
        width: 1140px;
        margin: 0 auto;
        line-height: 52px;
        .brand {
            font-size: 18px;
        }
        small {
            margin-left: 26px;
            font-size: 14px;
        }
        .menu{
            display: none;
        }
        nav {
            float: right;
            ul {
                font-size: 0;
                margin: 0;
                padding: 0;
                li {
                    list-style: none;
                    font-size: 14px;
                    display: inline-block;
                    -webkit-transition: 0.2s ease;
                    transition: 0.2s ease;
                    a {
                        display: inline-block;
                        padding: 0 10px;
                        height: 52px;
                        &:hover {
                            background-color: #000;
                        }
                        i {
                            margin-right: 5px;
                        }
                    }
                    >.active {
                        color: #fff;
                        background-color: #000;
                        box-shadow: 0 25px 25px -15px rgba(255,255,255,0.93);
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1200px) and (min-width: 770px) {
    header {
        height: 50px;
        .wrapper {
            width: 90%;
            line-height: 50px;
            .brand {
                font-size: 16px;
            }
            small {
                margin-left: 15px;
                font-size: 12px;
            }
            .menu{
                display: none;
            }
            nav {
                ul {
                    li {
                        a {
                            padding: 0 8px;
                            height: 50px;
                            i {
                                margin-right: 4px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 770px) {
    header {
        height: 48px;
        margin-bottom: 15px;
        .wrapper {
            width: 95%;
            margin: 0 auto;
            line-height: 48px;
            position: relative;
            z-index: 101;
            .brand {
                font-size: 16px;
            }
            small {
                margin-left: 10px;
                font-size: 12px;
            }
            .menu{
                display: inline-block;
                position: absolute;
                z-index: -102;
                right: 0;
                top:10px;
                padding: 5px 10px;
                background: #333;
                border: 1px solid #333;
                border-radius: 4px;
                color: #c9c9c9;
                font-size: 17px;
                -webkit-transition: 0.4s ease;
                transition: 0.4s ease;
            }
            >.active{
                background: #000;
                color: #fff;
            }
            .nav-show{
                visibility: visible;
                transform: scale(1);
                opacity: 1;
            }
            nav {
                position: absolute;
                z-index: 100;
                right:0;
                top:47px;
                text-align: center;

                visibility: hidden;
                transform-origin: 100% 0%;
                transform: scale(0.1);
                opacity: 0;
                transition: 0.2s cubic-bezier(0.5, 0.1, 0.51, 1.38);
                ul {
                    background: #222;
                    border-radius: 0 0 4px 4px;
                    box-shadow: 0px 3px 4px 1px rgba(0,0,0,0.5);
                    li {
                        font-size: 14px;
                        display: block;
                        border-bottom: 1px solid #333;
                        a {
                            display: block;
                            padding: 0 10px;
                            height: 40px;
                            line-height: 40px;
                        }
                        &:last-of-type{
                            border: none;
                        }
                        >.active {
                            color: #fff;
                            background-color: #000;
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }
}

// 爱心
$bubble-d: 4.5rem; // bubble diameter
$bubble-r: .5*$bubble-d; // bubble-radius
$sparkle-d: .375rem;
$sparkle-r: .5*$sparkle-d;

@mixin sparkles($k) {
	$shadow-list: ();
	$n-groups: 7;
	$group-base-angle: 360deg/$n-groups;
	$group-distr-r: (1 + $k*.25)*$bubble-r;
	$n-sparkles: 2;
	$sparkle-base-angle: 360deg/$n-sparkles;
	$sparkle-off-angle: 60deg; // offset angle from radius
	$spread-r: -$k*$sparkle-r;
	
	@for $i from 0 to $n-groups {
		$group-curr-angle: $i*$group-base-angle - 90deg;
		$xg: $group-distr-r*cos($group-curr-angle);
		$yg: $group-distr-r*sin($group-curr-angle);
		
		@for $j from 0 to $n-sparkles {
			$sparkle-curr-angle: $group-curr-angle + 
				$sparkle-off-angle + $j*$sparkle-base-angle;
			$xs: $xg + $sparkle-d*cos($sparkle-curr-angle);
			$ys: $yg + $sparkle-d*sin($sparkle-curr-angle);
			
			$shadow-list: $shadow-list, $xs $ys 0 $spread-r 
				hsl(($i + $j)*$group-base-angle, 100%, 75%);
		}
	}
	
	box-shadow: $shadow-list;
}

@mixin bubble($ext) {
	transform: scale(1);
	border-color: #cc8ef5;
	border-width: $ext;
}

body {
	display: flex;
	justify-content: center;
	margin: 0;
	height: 100vh;
	background: linear-gradient(135deg, 
		#121721, #000);
	font: 1em verdana, sans-serif;
}

[id='toggle-heart'] {
  position: absolute;
  left: -100vw;
	
	&:checked + label {
		color: #e2264d;
		filter: none;
		will-change: font-size;
		animation: heart 1s cubic-bezier(.17, .89, .32, 1.49);
		
		&:before, &:after {
			animation: inherit;
			animation-timing-function: ease-out;
		}
		
		&:before {
			will-change: transform, border-width, border-color;
			animation-name: bubble;
		}
		
		&:after {
			will-change: opacity, box-shadow;
			animation-name: sparkles;
		}
	}
	
	&:focus + label {
		text-shadow: 0 0 3px white, 
			0 1px 1px white, 0 -1px 1px white, 
			1px 0 1px white, -1px 0 1px white;
	}
}

[for='toggle-heart'] {
	align-self: center;
	position: relative;
	color: #888;
	font-size: 2em;
	filter: grayscale(1);
	user-select: none;
	cursor: pointer;
	
	&:before, &:after {
		position: absolute;
		z-index: -1;
		top: 50%; left: 50%;
		border-radius: 50%;
		content: '';
	}
	
	&:before {
		box-sizing: border-box;
		margin: -$bubble-r;
		border: solid $bubble-r #e2264d;
		width: $bubble-d; height: $bubble-d;
		transform: scale(0);
	}
	
	&:after {
		margin: -$sparkle-r;
		width: $sparkle-d; height: $sparkle-d;
		@include sparkles(1);
	}
}

@keyframes heart {
	0%, 17.5% { font-size: 0; }
}

@keyframes bubble {
	15% { @include bubble($bubble-r); }
	30%, 100% { @include bubble(0); }
}

@keyframes sparkles {
	0%, 20% { opacity: 0; }
	25% {
		opacity: 1;
		@include sparkles(0);
	}
}