.content-ul {
    &::-webkit-scrollbar {
        width: 7px;
        height: 6px;
    }
    &::-webkit-scrollbar-button {
        width: 0;
        height: 0;
    }
    &::-webkit-scrollbar-thumb {
        background: #D3D3D3;
        border: 0 none #ffffff;
        border-radius: 50px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #a8a8a8;
    }
    &::-webkit-scrollbar-thumb:active {
        background: #787878;
    }
    &::-webkit-scrollbar-track {
        background: #F1F1F1;
        // border: 1 solid #ffffff;
        border-radius: 50px;
    }
    &::-webkit-scrollbar-track:hover {
        background: #e2e2e2;
    }
    &::-webkit-scrollbar-track:active {
        background: #cccccc;
    }
    &::-webkit-scrollbar-corner {
        background: transparent;
    }
}


.ad-box-right{
    position: fixed;
    right: 3%;
    bottom: 40%;
    border: 1px solid #fa4d48;
    background-color: #fa4d48;
    height: 65px;
    width: 40px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: #fff600;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    padding-top: 6px;
    font-family: -webkit-body;
    span{
        display: block;
    }
    .get{
        -webkit-border-radius: 100px;
        border-radius: 100px;
        background-color:#fff600;
        padding:10px 2px;
        margin-top: 5px;
        color: #f9434a;
        border: 1px solid red;
    }
}

.ad-box-bottom{
    position: fixed;
    bottom: 1px;
    border: 1px solid #fa4d48;
    background-color: #fa4d48;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    height: 35px;
    width: 100%;
    text-align: center;
    line-height: 39px;
    color: #fff600;
    font-weight: bold;
    text-decoration: none;
    font-size: 19px;
    font-family: -webkit-body;
    // display: none;
    .welfare{
        font-size: 18px;
        font-weight:bolder;
        color: #fff600;
    }
}

.ad-box-bottom-img{
    position: fixed;
    bottom: 0px;
    img{
        height:100%;
        width: 100%;
    }
}
